.tile-item {
  margin: 5px 0;
  padding: 10px;
  border:1px solid rgba($color: #000000, $alpha: 0.2);
  display: flex;
  .icon {
    width: 30px;
    padding:5px 0 0 0;
    text-align: center;
    // float: left;
    vertical-align: middle;
  }
  .content {
    flex: 1;
    margin-left: 30px;
    padding: 0 10px;
    .name {
      text-transform: capitalize;
      font-size: 14px;
      font-weight: bold;
      color: #eee;
      padding: 2px 0 1px 0px;
    }
    .version {
      margin: 5px 0;
    }
    .desc {
      font-weight: normal;
      color:#bbb;
      font-size: 12px;
      padding:0 0 5px 0px;
    }
  }
}

.rst__rowWrapper {
  padding-top: 4px;
}

.rst__rowContents {
  background: transparent;
  // background: rgba(16, 22, 26, 0.3);
  // border:1px solid rgba($color: #000000, $alpha: 0.4);
  border:1px solid #1c2730;
  // border:1px slid rgba(16, 22, 26, 0.3);
  box-shadow: 0 0 0;
}
